build/
simulator/
*.zip
cpp/proj.ios_mac/cpp.xcodeproj/project.xcworkspace
cpp/proj.ios_mac/cpp.xcodeproj/xcuserdata
js/frameworks/runtime-src/proj.ios_mac/js.xcodeproj/project.xcworkspace
js/frameworks/runtime-src/proj.ios_mac/js.xcodeproj/xcuserdata
lua/frameworks/runtime-src/proj.ios_mac/lua.xcodeproj/project.xcworkspace
lua/frameworks/runtime-src/proj.ios_mac/lua.xcodeproj/xcuserdata
cpp/bin
cpp/proj.android/assets
cpp/proj.android/bin
cpp/proj.android/gen
cpp/proj.android/libs/armeabi
local.properties
cpp/proj.android/obj
google-play-services_lib/bin
google-play-services_lib/gen
js/frameworks/runtime-src/proj.android/assets
js/frameworks/runtime-src/proj.android/bin
js/frameworks/runtime-src/proj.android/gen
js/frameworks/runtime-src/proj.android/libs/armeabi
js/frameworks/runtime-src/proj.android/obj/local/armeabi
js/runtime
lua/frameworks/runtime-src/proj.android/assets
lua/frameworks/runtime-src/proj.android/bin
lua/frameworks/runtime-src/proj.android/gen
lua/frameworks/runtime-src/proj.android/libs/armeabi
lua/frameworks/runtime-src/proj.android/obj
lua-debug.apk
